MINIO_ROOT_USER=your_secret_here
MINIO_ROOT_PASSWORD=your_secret_here

WP_DB_ROOT_PASSWORD=your_secret_here
WP_DB_NAME=your_secret_here
WP_DB_USER=your_secret_here
WP_DB_PASSWORD=your_secret_here

STAGING_DB_NAME=your_secret_here
STAGING_DB_USER=your_secret_here
STAGING_DB_PASSWORD=your_secret_here

VAULT_TOKEN=your_secret_here
VAULT_ADDR=your_secret_here